# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Vega / Kepler
vega/build/
assets/photos/vega-sample

# Build side artifacts
package-lock.json
buildinfo.json

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated images
assets/photos/numbered-photos*
assets/photos/numbered-photos
assets/photos/dataset/extended/**
!assets/photos/dataset/extended/.gitkeep
config/images.ts

# IDE directories
.vscode/
.cursor/

# Other
*notes*